.DS_Store
.classpath
.project
*.prefs
*.class
*.iml
service-account-prod-file.json
.env
target/*
application.properties
service-account-dev-file.json
.idea/*
src/main/deployment/*
src/main/appengine/*